---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HeroImg from "../components/HeroImg.astro";
import H2 from "../components/H2.astro";
import ProjectCardSlider from "../components/Project-card-slider.astro";
import ProjectWrapper from "../components/Project-wrapper.jsx";
import ArticleWrapper from "../components/Article-wrapper.jsx";
import Img from "../components/Img.astro";
import SolarShow from "../components/Solar-show.astro";
import cover from "../assets/cover.png";
import { getCollection } from "astro:content";
const projects = await getCollection("project");
const articles = await getCollection("article");
---

<Layout>
  <div>
    <div id="about" class="lg:flex my-4 px-6 md:px-12">
      <Hero />
      <HeroImg />
    </div>
    <div id="projects" class="my-8 md:mt-16 md:mb-12">
      <div class="px-6 md:px-12">
        <H2>
          <p slot="screensm">PROJECTS.</p>
          <p slot="screenxl">PROJECTS.</p>
        </H2>
      </div>
      <div class="pl-6 md:pl-6 hidden lg:block">
        <ProjectCardSlider projects={projects} />
      </div>
      <div class="lg:hidden">
        <ProjectWrapper projects={projects} client:load>
          <Img imgSrc={cover} imgAlt={"coverImg"} />
        </ProjectWrapper>
      </div>
    </div>
    <div id="blogs" class="my-8 md:mt-16 md:mb-12">
      <div class="px-6 md:px-12">
        <H2>
          <p slot="screensm">Articles.</p>
          <p slot="screenxl">Published Articles</p>
        </H2>
      </div>
      <div class="lg:flex my-4 px-6 md:px-12">
        <ArticleWrapper articles={articles} client:load>
          <Img imgSrc={cover} imgAlt={"coverImg"} />
        </ArticleWrapper>
      </div>
    </div>
    <div class="my-40">
      <SolarShow/>
    </div>
  </div>
</Layout>
