---
import Logo from "./Logo.astro";
import { Image } from "astro:assets";
import linkedIn from "../assets/linkedIn.svg";
import twitter from "../assets/twitter.svg";
import github from "../assets/github.svg";
import instagram from "../assets/instagram.svg";
const navLinks = ["About", "My Projects", "My Blog", "Contact Me"];
---

<div class="py-6 h-screen text-sm text-white text-opacity-50">
  <div class="flex justify-end h-8 items-center">
    <a href="/" class="p-2">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z"
          fill="white"></path>
      </svg>
    </a>
  </div>
  <div class="text-center mb-5">
    <Logo class="mb-3" />
    <p>Web Developer | Technical writer</p>
  </div>

  <ul class="flex flex-col justify-evenly items-center h-3/6 text-2xl">
    {
      navLinks.map((navLink) => {
        return (
          <li>
            <a
              href="#about"
              class="nav-link mx-6 hover:text-sec active:text-sec focus:text-sec"
            >
              {navLink}
            </a>
          </li>
        );
      })
    }
  </ul>
  <div class="text-center my-5">
    <p class="text-5xl opacity-10 mb-3">Say Hello</p>
    <p class="focus:text-sec hover:text-sec active:text-sec">
      adscoversion@gmail.com
    </p>
  </div>
  <div class="flex justify-around mt-20 mb-4">
    <Image src={instagram} alt="Instagram icon" />

    <Image src={github} alt="Github Icon" />

    <Image src={twitter} alt="Twitter Icon" />

    <Image src={linkedIn} alt="LinkedIn Icon" />
  </div>
</div>
